<%- include('includes/head.ejs') %>

<section class="detallesProducto">
    <div class="columns">
        <div class="card-image">
            <figure>
                <img class="image-izquierda" src="<%= producto.imagen %>" alt="<%= producto.nombre %>">
            </figure>
        </div>
        <div class="detallesProducto-texto">
            <h1 class="title"><%= producto.nombre %></h1>
            <br>
            <p class="subtitle is-3">Descripcion:</p>
            <p class="subtitle is-5"><%= producto.descripcion %></p>
        </div>
    </div>
    <div class="detallesProducto preciocant">
        <div class="texto-izquierda">
            <p class="subtitle is-3">Cantidad disponible: <%= producto.cantidad %></p>
        </div>
        <div class="texto-derecha">
            <p class="subtitle is-3">Categoria: <%= producto.tipo %></p>
        </div>
    </div>

    <div id="errorContainer" class="notification is-danger" style="display: none;"></div>

    <div class="detallesProducto botones">
        <% if (permisos.some(p => p.funcionalidad === 'elimina productos')) { %>
        <div class="boton-izquierda">
            <a><i class="tam color-red fas fa-trash fa-lg" id="eliminarProducto"></i></a>
        </div>
        <% } %>
        
        <% if (permisos.some(p => p.funcionalidad === 'modifica productos')) { %>
        <div class="boton-izquierda">
            <a href="/productos/editar/<%= producto.IDproducto %>">
                <i class="tam color-purple fas fa-edit fa-lg"></i>
            </a>
        </div>
        <% } %>
        
        <% if (permisos.some(p => p.funcionalidad === 'realiza compras')) { %>
        <div class="boton-izquierda">
            <form action="/productos/<%= producto.IDproducto %>" method="post">
                <button class="button is-primary" type="submit">Añadir al carrito</button>
            </form>
        </div>
        <% } %>
        
        <div class="texto-derecha">
            <p class="subtitle is-3">Precio: $<%= producto.precio.toFixed(2) %></p>
        </div>
    </div>
</section>

<div id="confirmDialog" class="modal">
    <div class="modal-content">
      <span class="close" id="closeDialog">&times;</span>
      <p>¿Estás seguro de que deseas eliminar este producto?</p>
      <p>Esta acción no se puede deshacer</p>
      <p id="mensaje"></p>
      <button id="confirmDelete" class="button is-danger">Eliminar</button>
      <button id="cancelDelete" class="button">Cancelar</button>
    </div>
</div>

<script>
    document.getElementById('eliminarProducto').addEventListener('click', () => {
        document.getElementById('confirmDialog').style.display = 'block';
    });

    document.getElementById('closeDialog').addEventListener('click', () => {
        document.getElementById('confirmDialog').style.display = 'none';
    });

    document.getElementById('cancelDelete').addEventListener('click', () => {
        document.getElementById('confirmDialog').style.display = 'none';
    });

    document.getElementById('confirmDelete').addEventListener('click', () => {
        fetch('/productos/eliminar/<%= producto.IDproducto %>', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(result => {
            if (result.ok) {
                return result.json();
            } else {
                return result.json().then(data => { throw new Error(data.message); });
            }
        }).then(data => {
            alert(data.message);
            window.location.href = '/productos';
        }).catch(err => {
            console.log(err);
            // Mostrar el mensaje de error
            document.getElementById('errorContainer').innerText = err.message;
            document.getElementById('errorContainer').style.display = 'block';
            document.getElementById('confirmDialog').style.display = 'none';
        });
    });
</script>

<%- include('includes/foot.ejs') %>
